__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
Chr20_all_cached/
Chr19_chr20_gsm3271348_3271349_cached/
chr20_vae/
.github/
.venv/
sample_*.png
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
wandb/
experiments/
*.zip